<!doctype html>
<html>
<head>
	<title>List View</title>
	<link rel="stylesheet" href="/css/listview-style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="/scripts/homeBindButtons.js"></script>
</head>
<body>
	{{{body}}}
</body>
</html>
