<h3>Adding Task</h3>

<form method="post" action="/">
  <fieldset>
    <table>
      <thead>
        <th>Task Name</th>
        <th>Task Date</th>
        <th>Task Time</th>
        <th>Task Address</th>
        <th>Task City</th>
        <th>Task State</th>
        <th>Task Recurring? (1=yes 0=no)</th>
      </thead>
      <tbody>
        <tr>
          <td><input type="text" name="name" id="newName"></td>
          <td><input type="text" name="date" id="newDate"></td>
          <td><input type="text" name="time" id="newTime"></td>
          <td><input type="text" name="address" id="newAddress"></td>
          <td><input type="text" name="city" id="newCity"></td>
          <td><input type="text" name="state" id="newState"></td>
          <td><input type="text" name="recurring" id="newRecurring"></td> 
        </tr>
      </tbody>
    </table>
    <div></div>
    <input type="submit" name="Add Item" value="Add Task" id="AddButton">
  </fieldset>
</form>
<br>
<table>
	<thead>
		<th>Task Name</th>
	</thead>
	<tbody>
	{{#each results}}
	<tr> 
	    <td>{{name}}</td> 
            <td><button> Delete</button></td>
            <td><button> Update </button></td>
	</tr> 
	{{/each}}
	</tbody>
</table>


<script src="deletetask.js" defer></script>
<script>
var buttons = document.getElementsByTagName('button');

i = 0; 
while (i < buttons.length){
(function(i){
	if (i % 2 == 0) {
		buttons[i].addEventListener("click", function(event){	
			id = i; 
			id = id / 2; 
			deleteTask(id); 
		}); 
	}

	else{
	buttons[i].addEventListener("click", function(event){
		id = i; 
		console.log(id);
		if (id == 1) {
			id = 0; 
		}
		else {
			id = id / 2;	
			id = Math.floor(id); 
		}
		document.location.href = "/update/" + id; 
		}); 
	}
	})(i); 
	i = i + 1; 
	}

</script>			
