{{!--From lecture Express Forms--}}
{{!--Prints request data as a unordered list--}}
{{!-- Changed "param" to "datalist" (needs to match call in js)--}}
<h1>Error in login. The following are not correct:</h1>
<ul>
  {{#each dataList}}
    <li>{{this.name}}: {{this.value}}
  {{/each}}
</ul>
Please return to <a href="/">homepage</a> and try again.
