<h1>Calendar Guru</h1>

<p>Please login below. Passwords are case-sensitive</p>

<!-- <h2>To log in as a supplier and enter a quote:</h2>
<p>Username: supplierTest
<br>Password: 1qaz@WSX</p> -->

<h2>To log in use:</h2>
<p>Username: employeeTest
<br>Password: testpassword
<br>
<br>Enter Username and Password: </p>
<form  method="post" id="loginInfo">
  <p>Username:
    <input type="text" name="username" maxlength="15"/>
  </p>
  <p>Password:
    <input type="password" name="password" maxlenght="15"/>
    <input type="submit" value="Login"/>
</form>

<br>Sign up here!
<form action="/signup">
    <input type="submit" value="Create a profile" />
</form>
