/*************************************************************
** File Name: scheduleServer.js
** Author: Group 30
** Course: CS361
** Description: This is the javascript file that ????????????
*************************************************************/ 

.addTask {
    border: none; 
}

table.displayTasks td, th{
    border: 1px solid black;
    border-collapse: collapse;
}

.displayTasks {
    border: 1px solid black; 
    border-collapse: collapse;
}
